---
import { getCollection } from 'astro:content'
import BaseLayout from '../../layouts/BaseLayout.astro'
import type { Post } from '../../types'
import Bloglist from '../../components/Bloglist.astro'
export async function getStaticPaths() {
  const allPosts: Post[] = await getCollection('posts')

  const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())]

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    )

    return {
      params: { tag },
      props: { posts: filteredPosts },
    }
  })
}

const { tag } = Astro.params
const { posts } = Astro.props
---

<BaseLayout pageTitle={tag}>
  <article class="prose">
    <div class="flex flex-wrap justify-center">
      Posts tagged with <span class="text-[#ffd000] ml-2">{tag}</span>
    </div>
    <Bloglist posts={posts} />
    <div class="text-right"><a href="/blog">← all blog posts</a></div>
  </article>
</BaseLayout>
