---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="My homepage and my contribution to the ever-growing garbage pile. Check out my links and my blog."
    />
    <title>Kristian Hannula - Homepage</title>
  </head>
</html>
<BaseLayout title="Welcome to Astro.">
  <div
    class="flex flex-col items-center mt-20 md:mt-0 md:justify-center space-y-6"
  >
    <h1>Welcome :)</h1>

    <h1 class="h1-home text-center mx-10">
      This is my contribution to the <a
        class="a-home hover:decoration-[2px]"
        href="https://en.wikipedia.org/wiki/Internet">pile of garbage</a
      >
    </h1>
  </div>
</BaseLayout>
