---
import BaseLayout from '../layouts/BaseLayout.astro'
import Shrug from '../components/Shrug.astro'
import Decoder from '../components/Decoder/Decoder.astro'
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Things - Kristian Hannula" />
    <title>Kristian Hannula - About Me</title>
  </head>
  <BaseLayout>
    <div style="margin-bottom: -60px">
      <div id="shrug-container"><Shrug /></div>
      <div id="decoder-container"><Decoder /></div>
    </div>
  </BaseLayout>

</html>
