---
import BaseLayout from '../layouts/BaseLayout.astro'
import Shrug from '../components/Shrug.astro'
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Things - Kristian Hannula" />
    <title>Kristian Hannula - About Me</title>
  </head>
  <BaseLayout>
    <Shrug />
  </BaseLayout>

</html>
