---
import BaseLayout from '../layouts/BaseLayout.astro'
import Shrug from '../components/Shrug.astro'
import Decoder from '../components/Decoder/Decoder.astro'
import FileDecoder from '../components/FileDecoder/FileDecoder.astro'
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Things - Kristian Hannula" />
    <title>Kristian Hannula - About Me</title>
  </head>
  <BaseLayout>
    <div id="things-container">
      <div id="shrug-container"><Shrug /></div>
      <div id="decoder-container"><Decoder /></div>
      <div id="img-decoder-container"><FileDecoder /></div>
    </div>
  </BaseLayout>


</html>
