---
import BaseLayout from '../layouts/BaseLayout.astro'
import Shrug from '../components/Things/Shrug.astro'
import Decoder from '../components/Things/Decoder/Decoder.astro'
import FileDecoder from '../components/Things/FileDecoder.astro'
import '../styles/global.css'
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Some things I've built to learn javascript. Feel free to play around, nothing is saved or stored."
    />
    <title>Things - Kristian Hannula</title>
  </head>
  <BaseLayout>
    <div id="things-container">
      <div
        id="shrug-container"
        class="thing-container from-slate-400 to-slate-500"
      >
        <Shrug />
      </div>
      <div
        id="decoder-container"
        class="thing-container from-slate-700 to-slate-800"
      >
        <Decoder />
      </div>
      <div
        id="img-decoder-container"
        class="thing-container from-slate-800 to-slate-900"
      >
        <FileDecoder />
      </div>
    </div>
  </BaseLayout>


</html>
