---
import type { Post } from '../types.ts'

interface Props {
  posts: Post[]
}

const { posts } = Astro.props

const orderedPosts = posts
  .filter((post) => post.data.published)
  .sort((a, b) => {
    const aDate = new Date(a.data.pubDate)
    const bDate = new Date(b.data.pubdate)

    return aDate > bDate ? 1 : -1
  })
---

<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {
      orderedPosts.map((post) => (
        <tr>
          <td class="py-7">
            <a href={`/posts/${post.data.url}/`} class="list-link text-xl">
              {post.data.title}
            </a>
          </td>
          <td class="align-middle">{post.data.pubDate}</td>
        </tr>
      ))
    }
  </tbody>
</table>
