---

---

<div
  class="bg-slate-800 w-screen flex justify-center py-20"
  style="margin-left: -40px; margin-right: -40px"
>
  <form onsubmit="" id="forms" class="space-y-2 w-full px-4 max-w-lg mx-auto">
    <label for="base64ToText" class="block text-white text-center mb-2"
      >Base64 to Text
    </label>
    <textarea
      id="base64ToText"
      class="p-1 mt-1 h-20 w-full max-w-full rounded-md text-black"></textarea>
    <div class="text-right">
      <button
        id="decodeButton"
        class="bg-cyan-600 p-2 text-xs rounded-xl hover:bg-cyan-700 transition-transform duration-100 transform hover:scale-95"
        >Decode</button
      >
    </div>
    <label for="textToBase64" class="block text-white text-center mb-2"
      >Text to Base64
    </label>
    <textarea
      id="textToBase64"
      class="p-1 mt-1 h-20 w-full max-w-full rounded-md text-black"></textarea>
    <div class="text-right">
      <button
        id="encodeButton"
        class="bg-cyan-600 p-2 text-xs rounded-xl hover:bg-cyan-700 transition-transform duration-100 transform hover:scale-95"
        >Encode</button
      >
    </div>
  </form>

  <script>
    const attachEventListeners = () => {
      const forms = document.getElementById('forms')
      if (forms) {
        forms.addEventListener('submit', (event) => {
          event.preventDefault()
        })

        document
          .getElementById('decodeButton')
          ?.addEventListener('click', (event: MouseEvent) => {
            event.preventDefault()
            const base64content = (
              document.getElementById('base64ToText') as HTMLTextAreaElement
            ).value
            try {
              const decodedContent = atob(base64content)
              ;(
                document.getElementById('textToBase64') as HTMLTextAreaElement
              ).value = decodedContent
            } catch (error) {
              console.error(`Error decoding Base64: ${error}`)
              ;(
                document.getElementById('textToBase64') as HTMLTextAreaElement
              ).value = 'Something went wrong...'
            }
          })

        document
          .getElementById('encodeButton')
          ?.addEventListener('click', (event: MouseEvent) => {
            event.preventDefault()
            const textContent = document.getElementById(
              'textToBase64'
            ) as HTMLTextAreaElement
            try {
              const encodedContent = btoa(textContent.value)
              ;(
                document.getElementById('base64ToText') as HTMLTextAreaElement
              ).value = encodedContent
            } catch (error) {
              console.error(`Error encoding text: ${error}`)
              ;(
                document.getElementById('base64ToText') as HTMLTextAreaElement
              ).value = 'Something went wrong...'
            }
          })
      }
    }

    const initializeForms = () => {
      const base64ToText = document.getElementById(
        'base64ToText'
      ) as HTMLTextAreaElement | null
      const textToBase64 = document.getElementById(
        'textToBase64'
      ) as HTMLTextAreaElement | null

      if (base64ToText) {
        base64ToText.value = ''
      }
      if (textToBase64) {
        textToBase64.value = ''
      }
    }

    document.addEventListener('DOMContentLoaded', () => {
      initializeForms()
      attachEventListeners()
    })

    document.addEventListener('astro:after-swap', () => {
      initializeForms()
      attachEventListeners()
    })
  </script>
</div>
