---

---

<footer class="flex justify-center items-center h-14 bg-white">
  <p class="text-sm text-black">© 2023 Kristian Hannula</p>
  <a href="https://github.com/khan5ula">
    <img
      class="object-cover h-5 w-5 hover:opacity-90 cursor-pointer ml-5"
      src={'/github-logo.png'}
      alt="GitHub logo"
    />
  </a>
  <a href="https://www.linkedin.com/in/khan5ula/">
    <img
      class="object-cover h-5 w-5 marker:max-w-10 hover:opacity-90 cursor-pointer ml-6 mt-0.4"
      src={'/linkedin-logo.png'}
      alt="LinkedIn logo"
    />
  </a>
</footer>
