---

---

<div class="sticky text-white flex justify-center items-baseline">
  <a href="/" class="cursor-pointer hover:text-slate-400 text-center mr-6">
    Home
  </a>
  <a href="/blog" class="cursor-pointer hover:text-slate-400 text-center">
    Blog
  </a>
</div>
