---

---

<div
  class="sticky text-['antiqueWhite'] flex justify-center items-baseline font-bold space-x-6"
>
  <a href="/" class="cursor-pointer hover:text-slate-400 text-center"> Home</a>
  <a href="/about" class="cursor-pointer hover:text-slate-400 text-center">
    About
  </a>
  <a href="/things" class="cursor-pointer hover:text-slate-400 text-center"
    >Things</a
  >
  <a href="/blog" class="cursor-pointer hover:text-slate-400 text-center">
    Blog
  </a>
</div>
