---
const shrug = '¯\\_(ツ)_/¯'
import '../styles/global.css'
---

<div
  class="bg-slate-900 px-4 py-3 z-10 rounded absolute invisible pointer-events-none top-1/3"
  role="alert"
  id="copied-alert"
>
  <strong class="font-bold">Copied!</strong>
</div>
<div class="text-black m-4 text-center whitespace-nowrap pointer-events-none">
  Click to copy shrug
</div>
<button
  class="copyshrug cursor-pointer text-5xl font-mono text-black hover:scale-11 transition-transform duration-100 whitespace-nowrap"
>
  {shrug}
</button>
<script>
  const handleClick = () => {
    const onClick = () => {
      console.log(shrug)
      navigator.clipboard.writeText(shrug)
      if (alert) {
        alert.style.visibility = 'visible'
        setTimeout(function () {
          alert.style.visibility = 'hidden'
        }, 800)
      }
    }

    const shrug = '¯\\_(ツ)_/¯'
    const button = document.querySelector('button.copyshrug')
    const alert = document.getElementById('copied-alert')

    if (button) {
      button.removeEventListener('click', onClick) // in case there's previous
      button.addEventListener('click', onClick)
    }
  }

  handleClick()

  document.addEventListener('astro:after-swap', handleClick)
</script>
