---
const shrug = '¯\\_(ツ)_/¯'
---

<div
  class="bg-yellow-400 h-max w-screen flex flex-col justify-center items-center pt-10 pb-24"
  style="margin-left: -40px; margin-right: -40px"
>
  <div id="alert-container" class="relative flex mb-10 justify-center">
    <div
      class="bg-amber-600 px-4 py-3 rounded absolute invisible pointer-events-none"
      role="alert"
      id="copied-alert"
    >
      <strong class="font-bold">Copied!</strong>
    </div>
  </div>
  <div class="text-black m-4 text-center whitespace-nowrap pointer-events-none">
    Click to copy shrug
  </div>
  <button
    class="copyshrug cursor-pointer text-5xl font-mono text-black hover:scale-11 transition-transform duration-100 whitespace-nowrap"
    onclick=""
  >
    {shrug}
  </button>
  <script>
    const shrug = '¯\\_(ツ)_/¯'
    const button = document.querySelector('button.copyshrug')
    const alert = document.getElementById('copied-alert')
    if (button) {
      button.addEventListener('click', () => {
        console.log(shrug)
        navigator.clipboard.writeText(shrug)
        if (alert) {
          alert.style.visibility = 'visible'
          setTimeout(function () {
            alert.style.visibility = 'hidden'
          }, 1000)
        }
      })
    }
  </script>
</div>
