---
const shrug = '¯\\_(ツ)_/¯'
import '../../styles/global.css'
---

<div
  class="bg-white px-4 py-3 z-10 rounded invisible pointer-events-none"
  role="alert"
  id="copied-alert"
>
  <strong class="font-bold text-black">Copied!</strong>
</div>
<div class="m-4 text-center select-none">Click to copy shrug</div>
<button
  id="shrug-button"
  class="drop-shadow-lg bg-slate-700 thing-button text-3xl p-8 rounded-3xl"
>
  {shrug}
</button>
<script>
  const handleClick = () => {
    const onClick = () => {
      console.log(shrug)
      navigator.clipboard.writeText(shrug)
      if (alert) {
        alert.style.visibility = 'visible'
        setTimeout(function () {
          alert.style.visibility = 'hidden'
        }, 800)
      }
    }

    const shrug = '¯\\_(ツ)_/¯'
    const button = document.getElementById('shrug-button')
    const alert = document.getElementById('copied-alert')

    if (button) {
      button.removeEventListener('click', onClick) // in case there's previous
      button.addEventListener('click', onClick)
    }
  }

  handleClick()

  document.addEventListener('astro:after-swap', handleClick)
</script>
