---
import BaseLayout from './BaseLayout.astro'
const { frontmatter } = Astro.props
---

<BaseLayout pageTitle={frontmatter.title} <h1>
  <article class="prose">
    <a href="/blog">← all blog posts</a>
    <p>{frontmatter.author}{' '}{frontmatter.pubDate.toString()}</p>
    <slot />
  </article>
</BaseLayout>
